<div id="experience" class="experience-component">
  <h2 class="experience-component-title">Experience</h2>

  <div class="experience-component_content">
    <div class="experience-component_overview">
      <h3>Overview</h3>
      <p>
        I consider myself to be a T-shaped professional, having deeper skills and experience in a specific field <strong>(UX Design, including UX Research and UI Design)</strong>, while at the same time being somewhat of a generalist, applying knowledge in other areas of expertise <strong>(Illustration, Animation, HTML/CSS, Project Management, QA).</strong>
      </p>
      <p>
        Over the <strong>past 7 years</strong> I have had the chance to be part of highly capable, <strong>multi-disciplinary, distributed teams</strong>. Working remotely, which has its own set of challenges, has taught me the importance of reliability, accountability, responsibility and communication for a team to succeed. 
      </p>
      <p>
        As part of one of those teams, The UX Department, I worked for <strong>clients from all over the world</strong>, ranging from <strong>start-ups to NGO’s and enterprises</strong>, in fields distributed across the board, including 4INFO, Oaktree Capital Management, IdeaScale and their clients (several government agencies, universities and Fortune 500 companies like Kimberly-Clark), VSP Global, Rockwell Collins, and more.
      </p>
      <p>
        I was also part of another extraordinary squad at Haiku. We worked towards redefining how teams collaborate by building products that unify different disciplines: <a href="https://www.haikuforteams.com/animator/" target="_blank" rel="noreferrer">Animator</a>, <a href="https://diez.org/" target="_blank" rel="noreferrer">Diez</a>, <a href="https://www.storybookforteams.com/" target="_blank" rel="noreferrer">Storybook for Teams</a>, and most recently <a href="https://crow.app/" target="_blank" rel="noreferrer">Haiku Crow</a>, where I was the sole designer collaborating directly with the CEO and founder of the company.
      </p>
    </div>

    <div class="experience-component_positions">
      <h3>Positions</h3>
      <ul>
        {{#each siteData.positions}}
          <li class="positions-company-list">
            <img data-src="{{this.logo}}" alt="{{this.company}} logo" class="positions-image lazyload">
            <div class="experience-component_positions--item">
              <h5>{{this.company}}</h5>
              <p>{{this.jobTitle}}</p>
              <p>{{this.period}}</p>
              <p><i>{{this.periodDuration}}</i></p>
            </div>
          </li>
        {{/each}}
      </ul>
      <a href="https://www.linkedin.com/in/uxagustina/" class="link--highlighted" target="_blank" rel="noreferrer">Visit my LinkedIn profile</a><img src="./images/chevron.svg" class="link-chevron" alt="Chevron icon">
    </div>
  </div>

  <div>
    <h4 class="past-clients_title">Past clients</h4>
      <div class="past-clients_logos">
      {{#each siteData.clients}}
        <img data-src="{{this.logo}}" class="past-clients_item lazyload" alt="{{this.name}}">
      {{/each}}
    </div>
  </div>
  <div class="past-clients_link">
    <p>If you want to learn about my complete <strong>UX Design process</strong>, please <a href="https://medium.com/@agusfeijoo/comprehensive-description-of-my-design-process-6c004f2970f8" target="_blank" rel="noreferrer">read this article</a>.</p>
  </div>
</div>

{{> divider}}

<style>

  .experience-component {
    padding-top: 8rem;
  }

  .experience-component-title {
    text-align: center;
    margin-bottom: 5.2rem;
  }

  .experience-component_content {
    display: flex;
    justify-content: space-between;
  }

  .experience-component_overview {
    max-width: 47.5rem;
  }

  .experience-component_positions {
    margin-right: 3rem;
    flex: 0 0 19.3rem;
  }

  .experience-component_positions--item {
    display: inline-block;
  }

  .experience-component_positions h5 {
    margin: 0;
  }

  .experience-component_positions p {
    margin: 0.3rem 0;
  }

  .positions-image {
    margin-right: 0.8rem;
    border-radius: 50%;
    width: 2.81rem;
  }

  .positions-company-list {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .past-clients_title {
    text-align: center;
    margin: 8rem 0 3rem 0;
  }

  .past-clients_logos {
    text-align: center;
  }

  .past-clients_item {
    margin: 0 2.3rem 4rem 2.3rem;
  }

  .past-clients_link {
    text-align: center;
    margin-bottom: 8rem;
  }

  {{!-- Responsive --}}

  @media screen and (max-width:1300px) {
    .experience-component_overview {
      margin-right: 4rem;
    }

    .experience-component_positions {
      margin-right: 0;
    }

    .past-clients-logos {
      margin: 0 1rem 2rem 1rem;
    }
  }

  @media screen and (max-width:850px) {
    .experience-component_content {
      flex-direction: column;
    }

    .experience-component_overview {
      margin: 0 0 3rem 0;
    }

    .experience-component-title {
      text-align: left;
    }
  }

  @media screen and (max-width:600px) {
    .past-clients_item {
      margin: 0 4rem 4rem 4rem;
    }

    .experience-component-title {
      margin-bottom: 2rem;
    }

    .experience-component {
      padding-top: 5rem;
    }    
  }  
  
</style>