<div id="experience" style="padding-top: 8rem;">
  <h2 class="experience-component-title">Experience</h2>

  <div class="experience-component">
    <div class="experience-component_overview">
      <h3>Overview</h3>
      <p>
        I consider myself to be a T-shaped professional, having deeper skills and experience in a specific field <strong>(UX Design, including UX Research and UI Design)</strong>, while at the same time being somewhat of a generalist, applying knowledge in other areas of expertise <strong>(Illustration, Animation, HTML/CSS, Project Management, QA).</strong>
      </p>
      <p>
        Over the <strong>past 6+ years</strong> I have had the chance to be part of highly capable, <strong>multi-disciplinary, distributed teams</strong>. Working remotely, which has its own set of challenges, has taught me the importance of reliability, accountability, responsibility and communication for a team to succeed. 
      </p>
      <p>
        As part of one of those teams, The UX Department, I worked for <strong>clients from all over the world</strong>, ranging from <strong>start-ups to NGO’s and enterprises</strong>, in fields distributed across the board, including 4INFO, Oaktree Capital Management, IdeaScale and their clients (several government agencies, universities and Fortune 500 companies like Kimberly-Clark), VSP Global, Rockwell Collins, and more.
      </p>
      <p>
        Presently, I’m part of another extraordinary squad at Haiku. We’re working towards redefining how teams approach software creation by <strong>building products</strong> (like <a href="https://www.haikuforteams.com/animator/" target="_blank">Animator</a>, <a href="https://diez.org/" target="_blank">Diez</a>, <a href="https://www.storybookforteams.com/" target="_blank">Storybook for Teams</a>, and more) that <strong>unify design and code</strong> in creative, dynamic ways, so diverse teams can work together more efficiently.
      </p>
    </div>

    <div style="margin-right: 3rem;">
      <h3>Positions</h3>
      <ul>
        {{#each siteData.positions}}
          <li class="positions-company-list">
            <img src="{{this.logo}}" alt="{{this.company}} logo" class="positions-image">
            <div class="experience-component_positions">
              <h5>{{this.company}}</h5>
              <p>{{this.jobTitle}}</p>
              <p><i>{{this.period}}</i> · <strong>{{this.periodDuration}}</strong></p>
            </div>
          </li>
        {{/each}}
      </ul>
      <a href="https://www.linkedin.com/in/uxagustina/" class="link--highlighted" target="_blank">Visit my LinkedIn profile</a><img src="./images/chevron.svg" class="link-chevron">
    </div>
  </div>

  <div>
    <h4 class="past-clients-title">Past clients</h4>
    {{#each siteData.clients}}
      <img src="{{this}}" class="past-clients-logos">
    {{/each}}
  </div>
  <div class="past-clients_link">
    <p>If you want to learn about my complete <strong>UX Design process</strong>, please <a href="https://medium.com/@agusfeijoo/comprehensive-description-of-my-design-process-6c004f2970f8" target="_blank">read this article</a>.</p>
  </div>
</div>

{{> divider}}

<style>

  .experience-component-title {
    text-align: center;
    margin-bottom: 5.2rem;
  }

  .experience-component {
    display: flex;
    justify-content: space-between;
  }

  .experience-component_overview {
    max-width: 47.5rem;
  }

  .experience-component_positions {
    display: inline-block;
  }

  .experience-component_positions h5 {
    margin: 0;
  }

  .experience-component_positions p {
    margin: 0.3rem 0;
  }

  .positions-image {
    margin-right: 0.8rem;
    border-radius: 50%;
    width: 2.81rem;
  }

  .positions-company-list {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .past-clients-title {
    text-align: center;
    margin: 8rem 0 3rem 0;
  }

  .past-clients-logos {
    margin: 0 2.3rem 4rem 2.3rem;
  }

  .past-clients_link {
    text-align: center;
    margin-bottom: 8rem;
  }
  
</style>