<div class="divider hero-component">
  <div class="hero-component_leftbox">
    <h1 class="hero-component_title-spacing">Hey, I'm Tina!</h1>
    <p class="hero-component_title-spacing">
      I’m a <strong>UX Designer</strong> with <strong>6+ years</strong> of professional experience, with a background in Graphic Design. I strive to create intuitive interfaces from data-informed decisions.
    </p>

    <ul>
      {{#each siteData.contact}}
        {{#if this.showOnHero}}
          <li class="social-icons_item link {{this.id}}">
            <a href="{{this.link}}" target="_blank" rel="noreferrer">
              <img src="./images/icon-{{this.id}}.svg" alt="{{this.name}} logo" title="{{this.name}}">
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="hero-component_rightbox">
    <img src="./images/hero-image.jpg" alt="Agustina Feijoo in the Cliffs of Moher">
  </div>
</div>

<style>
.hero-component {
  display: flex;
  justify-content: space-between;
  margin-top: var(--nav-height);
}

.hero-component_title-spacing {
  margin-bottom: 3.12rem;
}

.hero-component_leftbox {
  max-width: 530px;
  padding: 6.87rem 5.6rem 8.43rem 0;
}

.hero-component_rightbox {
  align-self: center;
}

.hero-component img {
  max-width: 100%;
  height: auto;
}

{{!-- Responsive --}}

@media screen and (max-width:950px) {
  .hero-component{
    flex-direction: column-reverse;
  }

  .hero-component_leftbox {
    padding: 2rem 0;
    margin: 0 auto;
  }
}


</style>