<div id="recommendations" class="recommendations-component">
  <h2 class="recommendations-component_title">Recommendations</h2>
  <div class="recommendations-component_more-link">
    <a href="https://www.linkedin.com/in/uxagustina/" class="link--highlighted"  rel="noreferrer">See more on my LinkedIn Profile</a><img src="./images/chevron.svg" class="link-chevron" alt="Chevron icon">
  </div>
    {{#> carousel }}
      {{#each siteData.recommendations}}
        <div class="swiper-slide">
          <p>{{this.content}}</p>
          <div class="swiper-slide_credentials">
            <div class="swiper-slide_credentials_personal-data">
              <img data-src="{{this.photo}}" alt="{{this.name}}" class="swiper-slide_credentials_photo lazyload">
              <div class="swiper-slide_credentials_divider">
                <h5>{{this.name}}</h5>
                <p>{{this.jobTitle}}</p>
              </div>
            </div>
            <div class="swiper-slide_credentials">
              <img data-src="{{this.logo}}" alt="{{this.company}}" class="lazyload">
            </div>
          </div>
        </div>
        {{/each}}
    {{/carousel}}
  </div>
</div>

<style>
  .recommendations-component {
    margin-bottom: 8rem;
    padding-top: 8rem;
  }
  
  .recommendations-component_title {
    text-align: center;
  }

  .recommendations-component_more-link {
    text-align: center;
    margin: 0;
  }

  @media screen and (max-width:650px) {
    .recommendations-component {
      margin-bottom: 4rem;
      padding-top: 4rem;
    }
  }

  @media screen and (max-width:430px) {
    .recommendations-component_title {
      font-size: 2rem;
    }
  }
</style>
