<div class="case-study-wrapper">
  <div class="CS-copy">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <a href="{{link}}" class="link--highlighted" target="_blank" rel="noreferrer">Read the case study</a><img src="./images/chevron.svg" class="link-chevron" alt="Chevron icon">
  </div>
  <div>
    <img src="{{image}}" alt="{{description}}" class="CS-image">
  </div>
</div>


<style>
  .case-study-wrapper {
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .CS-image {
    width: 100%;
    display: block;
  }

  .CS-copy {
    padding:  1rem 2rem 3rem 2rem;
  }
</style>