<div class="projects-component_item">
  {{#if project.image}}
  <img src="{{project.image}}" alt="">
  {{/if}}
  {{#if project.video}}
  <video autoplay loop src="{{project.video}}"></video>
  {{/if}}

  <div class="projects_component_details">
    <h5>{{project.title}}</h5>
    <p>{{{project.description}}}</p>
    <a href="{{project.link}}" class="link--highlighted" target="_blank">{{cta}}</a><img src="./images/chevron.svg" class="link-chevron">
  </div>
</div>