<div class="projects-component_item">
  {{#if project.image}}
  <img data-src="{{project.image}}" alt="{{project.title}}" class="lazyload">
  {{/if}}
  {{#if project.video}}
  <video autoplay loop data-src="{{project.video}}" alt="{{project.title}}" class="lazyload"></video>
  {{/if}}

  <div class="projects_component_details">
    <h5>{{project.title}}</h5>
    <p>{{{project.description}}}</p>
    <a href="{{project.link}}" class="link--highlighted" target="_blank" rel="noreferrer">{{cta}}</a><img src="./images/chevron.svg" class="link-chevron" alt="Chevron icon">
  </div>
</div>