<div id="writing" class="writing-component">
  <h2 class="writing-component_title">Writing</h2>

  <div class="writing-component_content">
    {{#each siteData.writing}}
    <div class="writing-component_section">
      <h4 style="margin-bottom: 3rem;">{{this.section}}</h4>

      {{#each this.posts}}
        <div class="writing-component_item">
          <a href="{{this.link}}" target="_blank" rel="noreferrer">
            <div>
              <img data-src="{{this.image}}" alt="{{this.title}}" class="writing-component_post-image lazyload">
              {{#if this.logo}}
                <img data-src="{{this.logo}}" class="writing-component_logo lazyload" alt="{{this.logo-name}}">
              {{/if}}
            </div>
            <div class="writing-component_item_copy">
              <h5>{{this.title}}</h5>
              <p>{{this.excerpt}}</p>
            </div>
          </a>
        </div>
      {{/each}}

      <a href="{{this.link}}" class="link--highlighted writing-component_see-more-articles" target="_blank" rel="noreferrer">See more {{this.section}} articles</a><img src="./images/chevron.svg" class="link-chevron" alt="Chevron icon">
      
    </div>
    {{/each}}
  </div>
</div>

{{> divider}}

<style>
  .writing-component {
    padding-top: 8rem;
  }

  .writing-component_content {
    display: flex;
    margin-bottom: 10rem;
    justify-content: space-between;
  }

  .writing-component_title {
    text-align: center;
    margin-bottom: 5rem;
  }

  .writing-component_section {
    max-width: 34.4rem;
  }

  .writing-component_item {
    display: flex;
    margin-bottom: 2rem;
    position: relative;
  }

  .writing-component_item:hover {
    transform: translateX(2rem);
    transition: transform var(--transition-writing-item);
  }

  .writing-component_item img {
    align-self: center;
  }

  .writing-component_item_copy {
    max-width: 40rem;
  }

  .writing-component_item_copy p {
    font-weight: 400;
  }

  .writing-component_item p, .writing-component_item h5 {
    margin: 0;
  }

  .writing-component_item a {
    color: var(--color-black);
    display: flex;
  }

  .writing-component_item a:hover {
    border-bottom: none;
  }

  .writing-component_post-image {
    margin-right: 2rem;
    border-radius: 0.3rem;
    max-width: 6.25rem;
  }

  .writing-component_logo {
    position: absolute;
    left: 4.68rem;
    top: 4.3rem;
    border-radius: 50%;
    max-width: 2.5rem;
  }

  .writing-component_see-more-articles {
    display: inline;
    margin-top: 3rem;
  }

  {{!-- Responsive --}}
  @media screen and (max-width:1250px) {
    .writing-component_item {
      margin-right: 2rem;
      height: 160px;
    }

    .writing-component_item:hover {
    transform: none;
    }
  }

  @media screen and (max-width:1000px) {
    .writing-component_content {
      flex-direction: column;
      margin-bottom: 0;
    }

    .writing-component_section {
      margin-bottom: 6rem;
      max-width: 100%;
    }

    .writing-component_title {
      text-align: left;
    }

    .writing-component_item {
      margin-right: 0;
      height: auto;
    }

    .writing-component {
      padding-top: 5rem;
    }
  }

  @media screen and (max-width:450px) {
    .writing-component_post-image {
      width: 4.37rem;
      margin-right: 1rem;
    }

    .writing-component_logo {
      left: 3rem;
      top: 3rem;
      width: 1.87rem;
    }
  }
</style>